@font-face{font-family:'Barlow Condensed';font-weight:600;src:url(BarlowCondensed-600.woff2) format('woff2');}
@font-face{font-family:'Barlow Condensed';font-weight:700;src:url(BarlowCondensed-700.woff2) format('woff2');}
@font-face{font-family:'Barlow Condensed';font-weight:800;src:url(BarlowCondensed-800.woff2) format('woff2');}
@font-face{font-family:'Baloo 2';font-weight:700;src:url(Baloo2-700.woff2) format('woff2');}
@font-face{font-family:'Baloo 2';font-weight:800;src:url(Baloo2-800.woff2) format('woff2');}
@font-face{font-family:'Poppins';font-weight:500;src:url(Poppins-500.woff2) format('woff2');}
@font-face{font-family:'Poppins';font-weight:700;src:url(Poppins-700.woff2) format('woff2');}